body,
html {
  background-image: url("autopark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  height: 100%;
  font-size: x-large;
  color: #13005a;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: solid 3px #00337c;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 20px;
  font-family: monospace;
}

#increment-btn {
  background: #1c82ad;
}

#save-btn {
  background: #03c988;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  padding: 1rem;
  max-width: 1200px;
  border: 1rem solid #03c988;
  border-radius: 5rem;
  box-shadow: 0px 0px 15px 15px;
}
